
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


  body {
  height: 100vh;
 /* background-image: url(../img/news2.jpg);*/
 background-image: none;
  background-color: var(--grey-color);
  background-repeat: no-repeat;
  background-attachment:fixed;
}

 .header {
  background-image: none;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: 100%;
  padding-top: 10px;
}

.title {
  color: white;
}

.container_news {
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  display: grid;
  place-content: center;
}

.container_news .cards_news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  pointer-events: none;
}

.container_news .card_news {
  max-width: 15rem;
  color: #ffffffda;
  padding: 1.5rem;
  background-color: #202022;
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  transition: all 150ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.card-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/card1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/card2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/card3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/card4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_news .card_news .card-title {
  position: relative;
}

.container_news .card_news .card-title::before {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  box-shadow: inset 0 0 3px #bb86fc;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.container_news .card_news .date {
  color: #bb86fc;
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
}

.container_news .card_news .description {
  font-size: 0.9rem;
}

.container_news .card_news:nth-child(even) {
  transform: translateY(8px);
}

.container_news .card_news:nth-child(n) {
  transform: rotate(-5deg);
}

.cards_news:hover>.card_news:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.cards_news:hover>.card_news:not(:hover) {
  opacity: 0.5;
}

.news_block {
  border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.news_block:hover {
  background-color: white;
}

.news_prew {
  justify-content: space-between;
  align-items: center;
}

.news_descr {
  margin: 0 30px;
}

.news_img {
  width: 200px;
}

